venv
.idea
systhesis_result
transfer_result
gan_training_checkpoints
gan_result
dqn_weights
ckpt_test
src/image_captioning/annotations
src/image_captioning/train2014
src/image_captioning/val2014
src/image_captioning/checkpoints
src/image_captioning/custom
src/test.py
src/cycle_gan/dataset
src/cycle_gan/checkpoints